body {
    margin: 60px auto;
    width: 70%;
}
div {
  text-align: justify;
  text-justify: auto;
}
img{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-below: 20px;
    clear:both;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px 0;
    vertical-align:middle;
    list-style: none;
    font-weight: bold;
    height: 28px;
    background-color: #4CAF50;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    text-align: center;
    color: black;
}
nav a:hover {
    text-decoration: underline;
}
nav .active {
  background-color: #4CAF50;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 0px;
}
footer a {
    text-decoration: none;
    color: #000000;
}
a{
  text-decoration: none;  
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
    overflow:auto;
    display:block;
}
/*
p {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
    margin-left: 220px;
    overflow:auto;
    display:block;
}
*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.nobr { 
    white-space:nowrap; 
}
