<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
    
    <nav>
    		<ul>
			<li><a href="/" style="font-size:2.5em;color:white";>Ashutosh Modi</a></li>
			&emsp;&emsp;
        		<li><a href="/">Home</a></li>
	        	<!-- <li><a href="/about">About</a></li> -->
            		<li><a href="/publications">Publications</a></li>
			<li><a href="/datasets">Datasets</a></li>
			<li><a href="/patents">Patents</a></li>
			<li><a href="/activities">Activities</a></li>
			<li><a href="/teaching">Teaching</a></li>
			<li><a href="/contact">Contact</a></li>
			<!-- <li><a href="/outreach">Outreach</a></li> -->
        		<!-- <li><a href="/cv">CV</a></li> -->
        		<!-- <li><a href="/blog">Blog</a></li> -->
    		</ul>
		</nav>
    
			<div class="container">
				
			<br />
			
			{{ content }}
			
			</div><!-- /.container -->
      
       <footer>	
	  <ul>
		<a>Contact me:</a> &ensp;
		<a href="mailto:ashutoshm@cse.iitk.ac.in">Email</a> &ensp;
		<a href="https://ashutosh-modi.github.io/contact/"> Snail-Mail </a>  
	  </ul>	  
          <ul>
              <a>Connect with me:</a> &ensp;
              <a href="https://twitter.com/ashuMod">Twitter</a>
              &ensp;
              <a href="https://www.linkedin.com/in/dr-ashutosh-modi-3907835/">LinkedIn</a> 
          </ul>
        </footer>
		</body>
	</html>
